<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
h1 {
  text-align: center;
  color: blue;
}
h2 {
  text-align: center;
  font-size: 16px;
  font-family: Monospace;
}
.smaller-image {
  height: 200px;
  width: 400px;
}
.smaller-image1 {
  height: 150px;
  width: 400px;
}
.al {
  text-align: center;
  font-color: gray;
  font-size: 20px;
}
.green-background {
  padding: 20px 40px 20px 280px;
  background-color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: black;
  font-family: Monospace;
  color: white;
}
</style>
<h1>Proof of Concept CVE-2016-2098</h1>
<h2>
  <br>Trabajo realizado por Alejandro Martín González</br>
  <br>para la asignatura Seguridad de Sistemas Informáticos </br>
  <br>cursada en la Escuela Superior de Informática (UCLM) </br>
</h2>
<div class="green-background" >
  <img class="smaller-image1" src="http://webpub.esi.uclm.es/img/logo.png">
  <img class="smaller-image" src="http://www.dmi.units.it/~rondi/erasmus/castilla.jpeg" >
</div>
